{% extends "layout.html" %}

{% block title %}
    Buy share
{% endblock %}

{% block main %}
<div class="balance-div">
    <button class="btn btn-info" disabled>Balance: {{balance}}</button>
</div>

    <!-- Look up stock price -->
    <form action="/buy" class="lookup-form" method="post">
        <input name="action" type="hidden" value="lookup">
        <input class="form-control mx-auto w-auto" contenteditable="true" 
            name="symbol" placeholder="Enter a symbol" type="text" value="{{symbol}}" required>
        <input class="form-control mx-auto w-auto" contenteditable="false" name="price" placeholder="$"
        type="text" value="{{price}}" disabled>
        <br>
        <input class="btn btn-primary" type="submit" value="Look up stock price">
    </form>

    <!-- Buy share after looking up stock price -->
    <form action="/buy" class="buy-form" method="post">
        <input name="action" type="hidden" value="buy">
        <input id="datetime" name="datetime" type="hidden">
        <input id="timezone" name="timezone" type="hidden">
        <input class="form-control mx-auto w-auto" contenteditable="false"
            placeholder="Symbol will display here" value="{{symbol}}" disabled readonly> <!-- Uneditable Display -->
        <input  name="symbol" type="hidden" value="{{symbol}}" required> <!-- Display Value -->
        
        <input class="form-control mx-auto w-auto" name="shares"
            placeholder="Enter No. of share to buy (digit)" type="text" required>
        <br>
        <input class="btn btn-primary" id="buy-share" type="submit" value="Buy Share">
    </form>
{% endblock %}